* {
    margin: 0;
    padding: 0;
}

.wrapper-texto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto-secreto {
    font-size: 3px;
}

#imagem {
    display: flex;
    align-items: center;
    justify-content: center;

}

#texto {
    width: 500px;
}


.titulos {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
}

.centralizacao-imagem{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a#instagram{
    height: 100px;
    width: 100px;
}

#imagem-instagram{
    width: 100px;
    height: 100px;
}

.centralizacao-botao
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}