@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";

* {
margin:0;
padding:0;
}

body {
overflow-x:hidden;
}

.desativador-estilo-link {
text-decoration:none;
color:#606060;
}

#top-bar {
width:100%;
height:50px;
background-color:#f1f1f1;
font-family:"Open sans",sans-serif;
display:flex;
justify-content:space-between;
}

.bandeira-lista-brasil {
height:50px;
width:auto;
border-right:3px solid #dfdfdf;
display:flex;
align-items:center;
}

.images-top-bar {
width:40px;
padding:5px 10px;
}

.lista-bandeira-brasil {
text-decoration:none;
list-style:none;
font-weight:700;
padding-right:10px;
}

.menu {
height:50px;
}

.menu ul {
display:flex;
height:100%;
}

.menu ul li {
font-weight:700;
color:#606060;
border-right:3px solid #dfdfdf;
padding:0 10px;
display:flex;
align-items:center;
}

#coronavirus {
border-left:3px solid #dfdfdf;
}

.logo {
width:100%;
height:146px;
background-image:radial-gradient(ellipse at center,#19882C 1%,#025310 100%);
display:flex;
align-items:center;
}

.logo ul li {
list-style:none;
margin-left:22px;
font-family:"Open sans",sans-serif;
color:#ffff;
}

#header-logo {
font-size:40px;
font-weight:800;
}

#selecionador-matrícula {
background-color:#00420c;
}

.opcoes-selecionador {
color:#606060;
padding:2px;
font-family:"Open sans",sans-serif;
border:0;
background-color:#ffff;
font-weight:700;
border-radius:3px;
}

#form-selecionado-matricula {
padding:5px 10px;
}

main {
	min-height: calc(100vh - 228px - 50px);
}

.container-main {
display:flex;
justify-content:flex-start;
}

.lateral-esquerda {
min-width:130px;
max-width:16%;
margin-top:20px;
margin-left:10px;
}

#link_site_ifms {
border-top:1px solid #e1e1e1;
border-bottom:1px solid #e1e1e1;
margin-bottom:32px;
}

.menu-arte {
background-color:#edeff1;
border-top:4px solid #00510f;
padding:8px 8px 24px 10px;
color:#035312;
font-family:"Open sans",sans-serif;
font-size:16px;
}

#lista-menu {
list-style:none;
}

.item-lista-menu {
text-decoration:none;
font-family:"Open sans",sans-serif;
color:#000;
padding-left:10px;
}

.item-lista-menu:hover {
text-decoration:underline;
}

#lista-menu li {
border-bottom:1px solid #dfdfdf;
padding:4px;
}

.wrapper-meio {
width:42%;
height:auto;
margin:15px 0 0 30px;
}

.conteudo-meio {
margin-top:10px;
line-height:1.42857143;
font-family:"Open Sans",Arial,Helvetica,sans-serif;
}

.conteudo-meio p {
margin:0 0 1em;
}

.link-paragrafo {
color:#3f81bb;
text-decoration:none;
}

.link-paragrafo:hover {
text-decoration:underline;
}

.wrapper-barra-rodape {
width:100%;
height:73px;
background-color: #00420c;
}

