@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;

}

#top-bar {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
} 

.bandeira-brasil{
    height: 40px;
    width: 200px;
}


.bandeira-brasil ul li {
    display: inline-block;
}

[alt="bandeira-brasil"] {
    width: 43px;
}
